.range {
  @apply h-6 appearance-none bg-transparent rounded-2xl overflow-hidden;

  &::-webkit-slider-runnable-track {
    @apply h-2 w-full rounded bg-slate-200;
  }
  &::-moz-range-track {
    @apply h-2 w-full rounded bg-slate-200;
  }

  &::-webkit-slider-thumb {
    @apply relative h-6 w-6 top-1/2 border-none rounded-full appearance-none bg-white;
    transform: translateY(-50%);
    color: rgb(245 158 11);
    box-shadow: inset 0 0 0 3px, -100.5rem 0 0 100rem;
  }
  &::-moz-range-thumb {
    @apply relative h-6 w-6 top-1/2 border-none rounded-full appearance-none bg-white;
    color: rgb(245 158 11);
    box-shadow: inset 0 0 0 3px, -100.5rem 0 0 100rem;
  }
}